/* APP */
.mainStyle {
    max-width: 1160px;
    margin: "0 auto";
    background-color: #515A5A;
}

/* HEADER */
.dropdown-menu {
    width: 200px;
    height: 115px;
    margin-right: 150px; 
    margin-top: 10px;
    background-color: #343A40;
}

.immagineUtente {
    width: 30px;
    height: 30px;
    border-radius: 20px
}

.iconeDropdown {
    margin-right: 10px;
}

.dropdownHeader {
    color: white;
}

.dropdown-toggle::after {
    display: none;
}


/* FOOTER */
.footer-copyright {
    color: white;
    position: fixed;
    bottom: 0;
}

/* WELCOME */
.welcomeText {
    margin-top: 30px;
    color: white;
    text-align: center;
}

/* LOGIN */
.loginStyle {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    border: 10px;
    color: white;
}

.signUPButton {
    text-align: center;
}

.buttonFacebook {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;
    /* padding values are for top right bottom left */
    padding: 7px 50px 8px 1px;;
}

/* ERROR */
.errorText {
    text-align: center;
    color: white;
}

.defaultImage {
    width: 30;
    height: 30;
} 

/* PROFILE */
.nuovoAccountStyle {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    border: 10px;
    color: white;
}
